
<script src="path/angular.min.js"></script>
<script src="src/ngFlowGrid.js"></script>
<script>
app.controller('appCtrl',['$scope','fgDelegate',function($scope,fgDelegate){

    $scope.updateGrid = function(){
        var homePageGrid = fgDelegate.getFlow('homePageGrid');

        // then you can:
        homePageGrid.minItemWidth += 20;
        homePageGrid.refill(true);
    }

}]);
</script>
<div class="jumbotron" id="jumboArt">

</div>
<div ng-controller="picsController" id="pictures">
  <p id="artGallery" class="text-center">Art Gallery</p><br /><br />
  <p id="galleryText" class="text-center">
    Welcome to my art gallery. Here is some of my most recent work that is ready for sale. I hope you enjoy, if you have any questions feel free to contact me at <a href="mailto:Mitchdwhite@gmail.com">Mitchdwhite@gmail.com</a>
  </p>
  <ul class="flowGrid" ng-flow-grid="homePageGrid" min-item-width="200">
    <li class="flowGridItem" ng-repeat="pic in pics">
        <a href=""><img ng-src="{{pic}}" id="gallery" style="border:2px solid white;"></a>
    </li>
</ul>
</div>
