<div>
  <div class="jumbotron" id="jumbo1">
  </div>
  <div class="jumbotron text-center" id="jumbo2">
    <h2 id="storytelling">Storytelling Through Art</h2>
    <p class="text-center" id="aboutMitch">
      Welcome to the art of Mitch White. I am a sculpting artist based out of Fort Bragg, CA where I spend everyday telling stories through art with my hands. I have been a native of the California coast throughout my entire life. I grew up going out to fish with my father all the time, learning all the ins and outs of what it takes to become a fisherman. Later on when I was finally able to purchase my first boat, I immediately went out and kept pursuing my passion for fishing, using all the knowledge my father had taught me, and still to this day continue to go out like I have done the past three decades.
    </p><br /><br /><br />
    <h3 id="quote1" class="text-center">"The beauty of the ocean and all sea life has been the biggest inspiration in my life."</h3>
    <div id="pic1">
      <img src="/static/pics/mitch.jpg" class="center-block" alt="Responsive image" id="mitch">
    </div><br /><br />
    <p class="text-center" id="aboutMitch2">
      I started carving at the age of 20, working mostly with wood. My father was a well known wood sculpter around the Fort Bragg area, so I had a great teacher close by. Just like fishing, my father was the cornerstone of my ability for sculpting as well. I was approached by a retired fishing friend of mine, that was a known artist from Oregon, about sculpting with stone. I pondered the idea, but was soo busy with fishing that I didn't get a chance to get my hands on stone sculpting for quite sometime. Then one Christmas, my mother-in-law, who herself was a brilliant artist, gave me a piece of Alabaster to work with, and from that moment on I was hooked. I fell in love with the art of stone sculpting and decided to start telling my stories about being on the water through my art form, sculpting.
    </p><br /><br />
    <p id="quote2" class="text-center">"I am always in awe of the beauty around me so I never lack for subjects. They come to me from my memories of the adventures on the water, and just by looking out on the sea everyday. I feel soo lucky to have the spirit of the ocean and all its life be apart of my existence everyday." - Mitch White</p><br />
    <center><a href="#/artwork"><button type="button" class="btn btn-primary btn-lg" style="background:transparent;color:white;border:transparent;">View Art</button></a></center>
  </div>
</div>
